.stayPut{
	position: fixed;
	width: 100%;
}


h1.topHeading {
	color: rgb(255,255,255);
	background-color: rgb(54,150,200);
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	font-size: 5em;
	margin: 0;
}

div.pics{
	padding-top: 15%;
	text-align: center;
}

body {
	background-color: rgb(62,194,242);
	margin: 0;
	padding: 0;

}

div.menuBar {
	width: 100%;
	margin:0;
	background-color: blue;


}
.menuB {
	float: left;
	width: 18%;
	color: white;
	font-size:3em;

}

.pagematerial {
	padding-top: 3%;
	float: none;

}

a.menuLink:hover{
	text-decoration: none;
	font-size: 1.1em;
	text-align: center;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(255,255,255);
}

a.menuLink:visited, a.menulink:link{
	text-decoration: none;
	color: white;
	font-size: 1.1em;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgb(255,255,255);
}

a.menulink:active{
	color: rgb(255,255,255);
}

a#homelink:link{
	text-decoration:none;
	color: rgb(255,255,255);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 1.0em;
}

a#homelink:visited{
	text-decoration: none;
	color: rgb(255,255,255);
	-webkit-text-stroke-width:1px;
	-webkit-text-stroke-color: white;
	font-size: 1.0em;

}

a#homelink:hover{
	text-decoration: none;
	color: rgb(255,255,255);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color; white;
	font-size: 1.0em;
}

a#homelink:active{
	text-decoration: none;
	color: rgb(255,255,255,);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	font-size: 1.0em;
}


p.pageText {
	color: white;
	font-size: 1.75em;
	width: 60%;
	margin-right: auto;
	margin-left: auto;


}